body {
  background-color: rgb(255, 255, 255);
}

.detail {
  position: absolute;
  background: url(../assets/Images/rainbow.svg);
  height: 6px;
  width: 100%;
  margin: none;
  background-repeat: no-repeat;
  background-size: cover;
}

::-webkit-scrollbar {
  display: none;
}

.respostas {
  display: flex;
  justify-content: end;
  margin-top: 0;
}

.content {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.btn-send {
  width: 100%;
}

.card_connected_comp {
  background-color: rgb(247, 247, 247);
  border-radius: 10px;
  border: none;
  box-shadow: 2px 2px 5px 1px rgba(128, 128, 128, 0.2);
}

.mini-icon .tri {
  height: 32px;
}

.mini-icon {
  height: 36px;
}

.trap {
  position: absolute;
}

.list-items {
  background-image: url("../assets/images/trapezio.png");
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}

.medium-icon {
  height: 80px;
}

/* AVISOS */

.hide {
  opacity: 0 !important;
  transition: 200ms;
}

.alerta {
  opacity: 1;
  display: flex;
  background-color: rgba(199, 0, 0, 0.3);
  border-style: solid;
  border-width: 2px;
  border-color: rgba(100, 0, 0, 0.3);
  border-radius: 5px;
  padding: 5px;
  width: auto;
  transition: 200ms;
}

.alerta button {
  border-radius: 20%;
  background-color: transparent;
  border-style: solid;
  border-width: 2px;
  border-color: rgba(100, 0, 0, 0.3);
  width: 6%;
}

.alerta button:hover {
  background-color: rgba(199, 0, 0, 0.3);
  transition: 200ms;
}

.alerta span {
  width: 100%;
}

.alerta-bom {
  opacity: 1;
  display: flex;
  background-color: rgba(27, 145, 23, 0.404);
  border-style: solid;
  border-width: 2px;
  border-color: rgba(15, 68, 13, 0.404);
  border-radius: 5px;
  padding: 5px;
  width: auto;
  transition: 200ms;
  /* justify-content: center; */
}

.alerta-bom button {
  border-radius: 20%;
  background-color: transparent;
  border-style: solid;
  border-width: 2px;
  border-color: rgba(14, 70, 12, 0.404);
  width: 6%;
}

.alerta-bom button:hover {
  background-color: rgba(27, 145, 23, 0.404);
  transition: 200ms;
}

.alerta-bom span {
  width: 100%;
}

.trap-pai {
  margin-bottom: 1%;
}

.draggable {
  position: relative;
  top: 0px;
  left: 0px;
  transition: transform 0.3s linear z-index 0.3 linear;
  z-index: 0;
}

.dragging {
  transform: scale(1.1);
  z-index: 999;
  cursor: grab;
}

.cont-canvas {
  display: flex;
  justify-content: center;
}

@media (max-width: 1670px) {
  .trap {
    width: 65%;
  }

  .medium-icon {
    height: 60px;
  }

  .forminput {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .date {
    width: 100%;
  }
}

@media (max-width: 1400px) {
  .medium-icon {
    height: 50px;
  }

  .forminput {
    display: flex;
  }

  .forminput {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .date {
    width: 100%;
  }
}

@media (max-width: 1040px) {
  .input-group {
    display: flex;
    flex-direction: column;
    width: 90px;
  }

  .mini-icon {
    height: 28px;
  }

  .tri {
    height: 25.5px;
  }

  .title {
    font-size: medium;
  }

  .medium-icon {
    height: 40px;
  }

  .forminput {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .input {
    width: 30%;
  }
}

@media (max-width: 940px) {
  .input-group {
    display: flex;
    flex-direction: column;
    width: 90px;
  }

  .mini-icon {
    height: 28px;
  }

  .tri {
    height: 25.5px;
  }

  .title {
    font-size: medium;
  }

  .medium-icon {
    height: 30px;
  }

  .input {
    width: 20%;
  }
}

@media (max-width: 736px) {
  .input-group {
    display: flex;
    /* flex-direction: column; */
    width: 100%;
  }

  .mini-icon {
    height: 15px;
  }

  .tri {
    height: 13px;
  }

  .title {
    font-size: small;
  }
}

@media (max-width: 942px) {
  .tri {
    height: 28px;
  }
}

@media (max-width: 696px) {
  .input-group {
    display: flex;
    width: 90px;
  }

  .mini-icon {
    height: 10px;
  }

  .title {
    font-size: small;
  }
}

@media (max-width: 660px) {
  .form {
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  .list-items {
    left: 0%;
  }

  .input-group {
    display: flex;
    width: 20px;
  }

  .mini-icon {
    height: 10px;
  }

  .title {
    font-size: small;
  }
}
