body {
  background-color: rgba(240, 239, 239, 0.808);
}
:root {
  --red-color: #e00420;
  --lightgray-color: #dfe2e4;
  --mediumgray-color: #b6bbbe;
  --mediumgray2-color: #9da5a8;
  --darkgray-color: #737a80;
  --darkdarkgray-color: #31343a;
}

@font-face {
  font-family: "Bosch Sans";
  src: local(Bosch) url(../assets/fonts/boschsans-medium.woff);
}

.detail {
  position: absolute;
  background: url(../assets/Images/rainbow.svg);
  height: 6px;
  width: 100%;
  margin: none;
  background-repeat: no-repeat;
  background-size: cover;
}

#bosch_icon {
  display: flex;
  margin-left: 13px;
  margin-top: 20px;
  margin-bottom: 5px;
}

.span2 {
  font-family: "Bosch Sans";
  padding: 1%;
  margin-bottom: 5px;
  margin-left: 20px;
  color: red;
  font-weight: bolder;
}

.bi-pc-display {
  margin-right: 1%;
}

.card_connected_comp {
  background-color: rgb(247, 247, 247);
}

.align {
  display: flex;
  justify-content: center;
  margin-top: 10vh;
}

.button-start {
  border-radius: 0%;
}

/* AVISOS */

.hide {
  opacity: 0 !important;
  transition: 200ms;
}
.alerta {
  opacity: 1;
  display: flex;
  background-color: rgba(199, 0, 0, 0.3);
  border-style: solid;
  border-width: 2px;
  border-color: rgba(100, 0, 0, 0.3);
  border-radius: 5px;
  padding: 5px;
  width: auto;
  transition: 200ms;
}
.alerta button {
  border-radius: 20%;
  background-color: transparent;
  border-style: solid;
  border-width: 2px;
  border-color: rgba(100, 0, 0, 0.3);
  width: 6%;
}
.alerta button:hover {
  background-color: rgba(199, 0, 0, 0.3);
  transition: 200ms;
}
.alerta span {
  width: 100%;
}

.alerta-bom {
  opacity: 1;
  display: flex;
  background-color: rgba(27, 145, 23, 0.404);
  border-style: solid;
  border-width: 2px;
  border-color: rgba(15, 68, 13, 0.404);
  border-radius: 5px;
  padding: 5px;
  width: auto;
  transition: 200ms;
  /* justify-content: center; */
}
.alerta-bom button {
  border-radius: 20%;
  background-color: transparent;
  border-style: solid;
  border-width: 2px;
  border-color: rgba(14, 70, 12, 0.404);
  width: 6%;
}
.alerta-bom button:hover {
  background-color: rgba(27, 145, 23, 0.404);
  transition: 200ms;
}
.alerta-bom span {
  width: 100%;
}

.footer {
  font-family: "Bosch Sans";
  background-color: var(--lightgray-color);
  padding-bottom: 15px;
  padding-top: 10px;
  padding-left: 15px;
  position: relative;
  width: 100%;
}

.list {
  list-style: none;
}

.list li {
  display: inline-block;
  vertical-align: top;
}
