<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomeProcessoSeletivo</title>
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/style_bosch_template.css">
    <link rel="icon" type="image/x-icon" href="../../assets/Images/favicon.ico">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
    <!-- Include in HTML -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
        integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
        crossorigin="anonymous"></script>

</head>

<body>
    <header>
        <div class="detail"></div>
        <nav class="navbar navbar-expand-lg bg-body-primary shadow-sm mb-5">
            <div class="container-fluid">
                <a class="navbar-brand" href="#" id="title">
                    <img src="../../assets/Images/logo.png" alt="IconeBosch" width="160px" height="36px" id="bosch_icon"
                        class="d-none d-md-flex">
                </a>
                 
                <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <main>
      <div class="container mx-auto">

          <!-- container_pcs_do_server -->
          <div class="container_info mt-5">
              <h2>Verifique se todos os dispositivos estão conectados antes de iniciar</h2>
          </div>
          <div class="col-sm-12 mx-auto mt-5 mb-5">
              <!-- lista de cars (pcs conectados) -->
              <div class="card mt-5 mb-5" style="border: 0cap;">
                  <div class="card-body card_connected_comp">
                      <h2 class="card-title"><i class="bi bi-pc-display"></i>Título do dispositivo</h2>
                      <h4 class="card-subtitle mb-4 mt-3 text-body-secondary">IP: </h6>
                          <p id="date_time" class="card-text mt-3"></p>
                  </div>
              </div>
          </div>
          <button type="button" class="btn btn-primary button-start" data-bs-toggle="modal" data-bs-target="#JanelaModal">Iniciar Avaliação</button>
      </div>

      <!-- modal validação -->
      <div id="JanelaModal" class="modal fade">
          <div class="modal-dialog border-rounded">
            <div class="modal-content strongbg">


              <div class="modal-header border-0">
                <button type="button" class="btn btn-close " data-bs-dismiss="modal"></button>
              </div>
              <div class="modal-body rounded">

                <h3 class="text-center mx-auto">Confirme o início da atividade</h3>

                <div class="hide alerta" id="error">
                  <span>Incorreto</span>
                  <button id="alertabutton">&times;</button>
                </div>

                <form action="/" method="post" id="login">

                  <div class="col-6 mt-5 mx-auto">
                    <label for="senha" class="form-label text-center">
                      <h5>algo para validar</h5>
                    </label>
                    <div class="password_position">
                      <input class="form-control mx-auto" type="password" id="senha" name="senha">
                      <i class="bi bi-eye"></i>
                    </div>
                  </div>
                  <div class="col-6 my-5 mx-auto">
                    <input type="button" class="btn btn-primary mx-auto btn-lg" value="Iniciar" id="Iniciar">
                  </div>
                </form>

              </div>
            </div>
          </div>
        </div>
      </main>

      <!-- <footer>
        <div class="footer">
          <ul class="list">
            <li>Robert Bosch GmbH 2024, all rights reserved</li>  
          </ul>
        </div>
      </footer>  -->
</body>


<script src="./js/get_time.js"></script>
<script src="./js/password.js"></script>
</html>