:root {
  --participant: #a7a7a7;
  --participantReady: rgb(50, 205, 50);
  --participantDoing: rgb(228, 208, 10);

  --red-color: #e00420;
  --lightgray-color: #dfe2e4;
  --mediumgray-color: #b6bbbe;
  --mediumgray2-color: #9da5a8;
  --darkgray-color: #737a80;
  --darkdarkgray-color: #31343a;
}
