<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <link rel="stylesheet" href="./css/Error.css" /> -->
    <link rel="stylesheet" href="./variables.css" />
    <link rel="icon" type="image/x-icon" href="./assets/Images/favicon.ico" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" />
    <title>erro</title>
</head>

<body>
    <header>
        <div class="detail"></div>
        <nav class="navbar navbar-expand-lg bg-body-primary shadow-sm mb-5">
            <div class="container-fluid">
                <a class="navbar-brand" id="title">
                    <img src="../assets/Images/logo.png" alt="IconeBosch" width="160px" height="36px" id="bosch_icon"
                        class="d-none d-md-flex" />
                </a>

                <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <style>
        body {
            background-color: rgba(255, 255, 255, 0.808);
        }
        
        @font-face {
            font-family: "Bosch Sans";
            src: local(Bosch) url(../assets/fonts/boschsans-medium.woff);
        }
        
        .detail {
            position: absolute;
            background: url(../assets/Images/rainbow.svg);
            height: 6px;
            width: 100%;
            margin: none;
            background-repeat: no-repeat;
            background-size: cover;
        }
        
        #bosch_icon {
            display: flex;
            margin-left: 13px;
            margin-top: 20px;
            margin-bottom: 5px;
        }
    </style>

    <main>
        
            <div class="row justify-content-center text-center" id="erro404">
                <div class="card col-3 final-card">
                    <div class="card-body">
                        <h1 class="card-title"><%= title %></h1>
                        <p class="card-text">
                            <%= message %>
                        </p>
                    </div>
                </div>
            </div>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
        integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
        crossorigin="anonymous"></script>
</body>

</html>