<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous" />
  <link rel="icon" href="../assets/Images/favicon.ico" />
  <link rel="stylesheet" href="../variables.css" />
  <link rel="stylesheet" href="../css/Game.css" />
  <script src="https://cdn.jsdelivr.net/npm/kute.js@latest"></script>
  <title>Game</title>
</head>

<body>
  <script>
    var url = "<%= data.url %>";
  </script>
  <header>
    <div class="detail"></div>
    <nav class="navbar navbar-expand-lg bg-body-primary shadow-sm mb-5">
      <div class="container-fluid">
        <a class="navbar-brand" href="home" id="title">
          <img src="../assets/Images/logo.png" alt="IconeBosch" width="160px" height="36px" id="bosch_icon"
            class="d-none d-md-flex" />
        </a>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item"></li>
          </ul>
        </div>
      </div>
    </nav>
  </header>

  <div class="respostas">
    <div class="col-sm-9 d-flex flex-column justify-content-between">
      <div class="d-flex justify-content-around flex-row col-sm-9 mx-auto">
        <button class="btn btn-warning btn-send" type="button" id="pesar"
          style="font-weight: bold; color: rgb(43, 43, 43)">
          Pesar
        </button>
        <button class="btn btn-primary btn-send" onclick="arrangeBalances()" type="button"
          style="font-weight: bold">
          Ordenar peças
        </button>
        <button class="btn btn-send btn-ready" type="button" data-bs-toggle="modal" data-bs-target="#JanelaModal">
          Finalizar
        </button>
      </div>

      <div class="cont-canvas">
        <canvas id="canvas"></canvas>
      </div>

      <div class="row justify-content-center mt-1">
        <div class="col-sm-12">
          <div class="d-flex justify-content-evenly pb-5 px-5 mx-5 list-items">
            <div forma="triangle" arrastos="5">
              <svg height="80" viewBox="0 0 148 128" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path id="triangle" d="M74 0L147.612 127.5H0.38784L74 0Z" fill="#B14EFF" />
                <path id="five" style="visibility: hidden"
                  d="M64.5 61.8125C64.5 66.1875 63.7292 70.125 62.1875 73.625C60.6458 77.125 58.5833 80.0833 56 82.5C53.4167 84.9167 50.4167 86.7708 47 88.0625C43.625 89.3542 40.0833 90 36.375 90H0.25V72.0625H36.375C37.5833 72.0625 38.7917 71.875 40 71.5C41.25 71.125 42.3542 70.5208 43.3125 69.6875C44.3125 68.8542 45.1042 67.7917 45.6875 66.5C46.3125 65.2083 46.625 63.6458 46.625 61.8125C46.625 60.1458 46.3125 58.6875 45.6875 57.4375C45.1042 56.1458 44.3125 55.0833 43.3125 54.25C42.3542 53.375 41.25 52.7292 40 52.3125C38.7917 51.8542 37.5833 51.625 36.375 51.625H0.25L5.5 0.375H60.8125V18.3125H21.625L20 33.6875H36.375C40.0833 33.6875 43.625 34.3333 47 35.625C50.4167 36.9167 53.4167 38.7917 56 41.25C58.5833 43.6667 60.6458 46.625 62.1875 50.125C63.7292 53.5833 64.5 57.4792 64.5 61.8125Z"
                  fill="#B14EFF" />
                <path id="four" style="visibility: hidden"
                  d="M72.375 72.0625H63.4375V90H45.5V72.0625H0.6875L10.6875 0.375H28.625L20.8125 54.1875H45.5V9.375H63.4375V54.1875H72.375V72.0625Z"
                  fill="#B14EFF" />
                <path id="three" style="visibility: hidden"
                  d="M63 63.125C63 66.8333 62.2917 70.3125 60.875 73.5625C59.4583 76.8125 57.5208 79.6667 55.0625 82.125C52.6458 84.5417 49.8125 86.4583 46.5625 87.875C43.3125 89.2917 39.8333 90 36.125 90H0.25V72.0625H36.125C37.375 72.0625 38.5417 71.8333 39.625 71.375C40.7083 70.9167 41.6458 70.2917 42.4375 69.5C43.2708 68.6667 43.9167 67.7083 44.375 66.625C44.8333 65.5417 45.0625 64.375 45.0625 63.125C45.0625 61.875 44.8333 60.7083 44.375 59.625C43.9167 58.5417 43.2708 57.6042 42.4375 56.8125C41.6458 55.9792 40.7083 55.3333 39.625 54.875C38.5417 54.4167 37.375 54.1875 36.125 54.1875H11.6875V36.25H36.125C37.375 36.25 38.5417 36.0208 39.625 35.5625C40.7083 35.1042 41.6458 34.4792 42.4375 33.6875C43.2708 32.8542 43.9167 31.8958 44.375 30.8125C44.8333 29.6875 45.0625 28.5 45.0625 27.25C45.0625 26 44.8333 24.8333 44.375 23.75C43.9167 22.6667 43.2708 21.7292 42.4375 20.9375C41.6458 20.1042 40.7083 19.4583 39.625 19C38.5417 18.5417 37.375 18.3125 36.125 18.3125H0.25V0.375H36.125C39.8333 0.375 43.3125 1.08333 46.5625 2.5C49.8125 3.91667 52.6458 5.85417 55.0625 8.3125C57.5208 10.7292 59.4583 13.5625 60.875 16.8125C62.2917 20.0625 63 23.5417 63 27.25C63 30.5417 62.3958 33.75 61.1875 36.875C59.9792 39.9583 58.2708 42.7292 56.0625 45.1875C58.2708 47.6458 59.9792 50.4375 61.1875 53.5625C62.3958 56.6458 63 59.8333 63 63.125Z"
                  fill="#B14EFF" />
                <path id="two" style="visibility: hidden"
                  d="M63.25 27.25C63.25 30.9583 62.5417 34.4583 61.125 37.75C59.7083 41 57.7708 43.8542 55.3125 46.3125C52.8958 48.7292 50.0625 50.6458 46.8125 52.0625C43.5625 53.4792 40.0833 54.1875 36.375 54.1875H27.375C26.125 54.1875 24.9583 54.4167 23.875 54.875C22.7917 55.3333 21.8333 55.9792 21 56.8125C20.2083 57.6042 19.5833 58.5417 19.125 59.625C18.6667 60.7083 18.4375 61.875 18.4375 63.125V72.0625H60.8125V90H0.5V63.125C0.5 59.4167 1.20833 55.9375 2.625 52.6875C4.04167 49.3958 5.95833 46.5417 8.375 44.125C10.8333 41.6667 13.6875 39.75 16.9375 38.375C20.1875 36.9583 23.6667 36.25 27.375 36.25H36.375C37.625 36.25 38.7917 36.0208 39.875 35.5625C40.9583 35.1042 41.8958 34.4792 42.6875 33.6875C43.5208 32.8542 44.1667 31.8958 44.625 30.8125C45.0833 29.6875 45.3125 28.5 45.3125 27.25C45.3125 26 45.0833 24.8333 44.625 23.75C44.1667 22.6667 43.5208 21.7292 42.6875 20.9375C41.8958 20.1042 40.9583 19.4583 39.875 19C38.7917 18.5417 37.625 18.3125 36.375 18.3125H4.375V0.375H36.375C40.0833 0.375 43.5625 1.08333 46.8125 2.5C50.0625 3.91667 52.8958 5.85417 55.3125 8.3125C57.7708 10.7292 59.7083 13.5625 61.125 16.8125C62.5417 20.0625 63.25 23.5417 63.25 27.25Z"
                  fill="#B14EFF" />
                <path id="one" style="visibility: hidden" d="M27.75 90H9.8125V18.3125H0.875V0.375H27.75V90Z"
                  fill="#B14EFF" />
                <path id="zero" style="visibility: hidden"
                  d="M54.875 46.1875C54.875 36.2292 53.2083 28.8333 49.875 24C46.5833 19.1667 41.9792 16.75 36.0625 16.75C30.1875 16.75 25.625 19.1458 22.375 23.9375C19.125 28.7292 17.5 36.1458 17.5 46.1875C17.5 56.1458 19.125 63.5417 22.375 68.375C25.625 73.2083 30.1875 75.625 36.0625 75.625C39.0208 75.625 41.6667 75.0417 44 73.875C46.3333 72.6667 48.2917 70.8542 49.875 68.4375C51.5 66.0208 52.7292 62.9792 53.5625 59.3125C54.4375 55.6042 54.875 51.2292 54.875 46.1875ZM71.9375 46.1875C71.9375 54.6875 71 61.875 69.125 67.75C67.25 73.625 64.6875 78.375 61.4375 82C58.1875 85.625 54.375 88.25 50 89.875C45.6667 91.4583 41.0208 92.25 36.0625 92.25C31.1042 92.25 26.4375 91.4375 22.0625 89.8125C17.7292 88.1458 13.9375 85.5 10.6875 81.875C7.47917 78.2083 4.9375 73.4583 3.0625 67.625C1.1875 61.75 0.25 54.6042 0.25 46.1875C0.25 37.6875 1.1875 30.5208 3.0625 24.6875C4.9375 18.8125 7.47917 14.0625 10.6875 10.4375C13.9375 6.8125 17.7292 4.1875 22.0625 2.5625C26.4375 0.9375 31.1042 0.125 36.0625 0.125C41.0208 0.125 45.6667 0.958333 50 2.625C54.375 4.25 58.1875 6.89583 61.4375 10.5625C64.6875 14.2292 67.25 18.9792 69.125 24.8125C71 30.6458 71.9375 37.7708 71.9375 46.1875Z"
                  fill="#B14EFF" />
              </svg>
            </div>
            <div forma="square" arrastos="5">
              <svg height="80" viewBox="0 0 126 126" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path id="square" fill="#E00420" d="M0 0h126v126H0Z" />
                <path id="five" style="visibility: hidden"
                  d="M64.5 61.8125C64.5 66.1875 63.7292 70.125 62.1875 73.625C60.6458 77.125 58.5833 80.0833 56 82.5C53.4167 84.9167 50.4167 86.7708 47 88.0625C43.625 89.3542 40.0833 90 36.375 90H0.25V72.0625H36.375C37.5833 72.0625 38.7917 71.875 40 71.5C41.25 71.125 42.3542 70.5208 43.3125 69.6875C44.3125 68.8542 45.1042 67.7917 45.6875 66.5C46.3125 65.2083 46.625 63.6458 46.625 61.8125C46.625 60.1458 46.3125 58.6875 45.6875 57.4375C45.1042 56.1458 44.3125 55.0833 43.3125 54.25C42.3542 53.375 41.25 52.7292 40 52.3125C38.7917 51.8542 37.5833 51.625 36.375 51.625H0.25L5.5 0.375H60.8125V18.3125H21.625L20 33.6875H36.375C40.0833 33.6875 43.625 34.3333 47 35.625C50.4167 36.9167 53.4167 38.7917 56 41.25C58.5833 43.6667 60.6458 46.625 62.1875 50.125C63.7292 53.5833 64.5 57.4792 64.5 61.8125Z"
                  fill="#E00420" />
                <path id="four" style="visibility: hidden"
                  d="M72.375 72.0625H63.4375V90H45.5V72.0625H0.6875L10.6875 0.375H28.625L20.8125 54.1875H45.5V9.375H63.4375V54.1875H72.375V72.0625Z"
                  fill="#E00420" />
                <path id="three" style="visibility: hidden"
                  d="M63 63.125C63 66.8333 62.2917 70.3125 60.875 73.5625C59.4583 76.8125 57.5208 79.6667 55.0625 82.125C52.6458 84.5417 49.8125 86.4583 46.5625 87.875C43.3125 89.2917 39.8333 90 36.125 90H0.25V72.0625H36.125C37.375 72.0625 38.5417 71.8333 39.625 71.375C40.7083 70.9167 41.6458 70.2917 42.4375 69.5C43.2708 68.6667 43.9167 67.7083 44.375 66.625C44.8333 65.5417 45.0625 64.375 45.0625 63.125C45.0625 61.875 44.8333 60.7083 44.375 59.625C43.9167 58.5417 43.2708 57.6042 42.4375 56.8125C41.6458 55.9792 40.7083 55.3333 39.625 54.875C38.5417 54.4167 37.375 54.1875 36.125 54.1875H11.6875V36.25H36.125C37.375 36.25 38.5417 36.0208 39.625 35.5625C40.7083 35.1042 41.6458 34.4792 42.4375 33.6875C43.2708 32.8542 43.9167 31.8958 44.375 30.8125C44.8333 29.6875 45.0625 28.5 45.0625 27.25C45.0625 26 44.8333 24.8333 44.375 23.75C43.9167 22.6667 43.2708 21.7292 42.4375 20.9375C41.6458 20.1042 40.7083 19.4583 39.625 19C38.5417 18.5417 37.375 18.3125 36.125 18.3125H0.25V0.375H36.125C39.8333 0.375 43.3125 1.08333 46.5625 2.5C49.8125 3.91667 52.6458 5.85417 55.0625 8.3125C57.5208 10.7292 59.4583 13.5625 60.875 16.8125C62.2917 20.0625 63 23.5417 63 27.25C63 30.5417 62.3958 33.75 61.1875 36.875C59.9792 39.9583 58.2708 42.7292 56.0625 45.1875C58.2708 47.6458 59.9792 50.4375 61.1875 53.5625C62.3958 56.6458 63 59.8333 63 63.125Z"
                  fill="#E00420" />
                <path id="two" style="visibility: hidden"
                  d="M63.25 27.25C63.25 30.9583 62.5417 34.4583 61.125 37.75C59.7083 41 57.7708 43.8542 55.3125 46.3125C52.8958 48.7292 50.0625 50.6458 46.8125 52.0625C43.5625 53.4792 40.0833 54.1875 36.375 54.1875H27.375C26.125 54.1875 24.9583 54.4167 23.875 54.875C22.7917 55.3333 21.8333 55.9792 21 56.8125C20.2083 57.6042 19.5833 58.5417 19.125 59.625C18.6667 60.7083 18.4375 61.875 18.4375 63.125V72.0625H60.8125V90H0.5V63.125C0.5 59.4167 1.20833 55.9375 2.625 52.6875C4.04167 49.3958 5.95833 46.5417 8.375 44.125C10.8333 41.6667 13.6875 39.75 16.9375 38.375C20.1875 36.9583 23.6667 36.25 27.375 36.25H36.375C37.625 36.25 38.7917 36.0208 39.875 35.5625C40.9583 35.1042 41.8958 34.4792 42.6875 33.6875C43.5208 32.8542 44.1667 31.8958 44.625 30.8125C45.0833 29.6875 45.3125 28.5 45.3125 27.25C45.3125 26 45.0833 24.8333 44.625 23.75C44.1667 22.6667 43.5208 21.7292 42.6875 20.9375C41.8958 20.1042 40.9583 19.4583 39.875 19C38.7917 18.5417 37.625 18.3125 36.375 18.3125H4.375V0.375H36.375C40.0833 0.375 43.5625 1.08333 46.8125 2.5C50.0625 3.91667 52.8958 5.85417 55.3125 8.3125C57.7708 10.7292 59.7083 13.5625 61.125 16.8125C62.5417 20.0625 63.25 23.5417 63.25 27.25Z"
                  fill="#E00420" />
                <path id="one" style="visibility: hidden" d="M27.75 90H9.8125V18.3125H0.875V0.375H27.75V90Z"
                  fill="#E00420" />
                <path id="zero" style="visibility: hidden"
                  d="M54.875 46.1875C54.875 36.2292 53.2083 28.8333 49.875 24C46.5833 19.1667 41.9792 16.75 36.0625 16.75C30.1875 16.75 25.625 19.1458 22.375 23.9375C19.125 28.7292 17.5 36.1458 17.5 46.1875C17.5 56.1458 19.125 63.5417 22.375 68.375C25.625 73.2083 30.1875 75.625 36.0625 75.625C39.0208 75.625 41.6667 75.0417 44 73.875C46.3333 72.6667 48.2917 70.8542 49.875 68.4375C51.5 66.0208 52.7292 62.9792 53.5625 59.3125C54.4375 55.6042 54.875 51.2292 54.875 46.1875ZM71.9375 46.1875C71.9375 54.6875 71 61.875 69.125 67.75C67.25 73.625 64.6875 78.375 61.4375 82C58.1875 85.625 54.375 88.25 50 89.875C45.6667 91.4583 41.0208 92.25 36.0625 92.25C31.1042 92.25 26.4375 91.4375 22.0625 89.8125C17.7292 88.1458 13.9375 85.5 10.6875 81.875C7.47917 78.2083 4.9375 73.4583 3.0625 67.625C1.1875 61.75 0.25 54.6042 0.25 46.1875C0.25 37.6875 1.1875 30.5208 3.0625 24.6875C4.9375 18.8125 7.47917 14.0625 10.6875 10.4375C13.9375 6.8125 17.7292 4.1875 22.0625 2.5625C26.4375 0.9375 31.1042 0.125 36.0625 0.125C41.0208 0.125 45.6667 0.958333 50 2.625C54.375 4.25 58.1875 6.89583 61.4375 10.5625C64.6875 14.2292 67.25 18.9792 69.125 24.8125C71 30.6458 71.9375 37.7708 71.9375 46.1875Z"
                  fill="#E00420" />
              </svg>
            </div>
            <div forma="ellipse" arrastos="5">
              <svg height="80" viewBox="0 0 126 126" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path id="ellipse" fill="#00C92C" d="M0 63a63 63 0 1 0 126 0a63 63 0 1 0 -126 0" />
                <path id="five" style="visibility: hidden"
                  d="M64.5 61.8125C64.5 66.1875 63.7292 70.125 62.1875 73.625C60.6458 77.125 58.5833 80.0833 56 82.5C53.4167 84.9167 50.4167 86.7708 47 88.0625C43.625 89.3542 40.0833 90 36.375 90H0.25V72.0625H36.375C37.5833 72.0625 38.7917 71.875 40 71.5C41.25 71.125 42.3542 70.5208 43.3125 69.6875C44.3125 68.8542 45.1042 67.7917 45.6875 66.5C46.3125 65.2083 46.625 63.6458 46.625 61.8125C46.625 60.1458 46.3125 58.6875 45.6875 57.4375C45.1042 56.1458 44.3125 55.0833 43.3125 54.25C42.3542 53.375 41.25 52.7292 40 52.3125C38.7917 51.8542 37.5833 51.625 36.375 51.625H0.25L5.5 0.375H60.8125V18.3125H21.625L20 33.6875H36.375C40.0833 33.6875 43.625 34.3333 47 35.625C50.4167 36.9167 53.4167 38.7917 56 41.25C58.5833 43.6667 60.6458 46.625 62.1875 50.125C63.7292 53.5833 64.5 57.4792 64.5 61.8125Z"
                  fill="#00C92C" />
                <path id="four" style="visibility: hidden"
                  d="M72.375 72.0625H63.4375V90H45.5V72.0625H0.6875L10.6875 0.375H28.625L20.8125 54.1875H45.5V9.375H63.4375V54.1875H72.375V72.0625Z"
                  fill="#00C92C" />
                <path id="three" style="visibility: hidden"
                  d="M63 63.125C63 66.8333 62.2917 70.3125 60.875 73.5625C59.4583 76.8125 57.5208 79.6667 55.0625 82.125C52.6458 84.5417 49.8125 86.4583 46.5625 87.875C43.3125 89.2917 39.8333 90 36.125 90H0.25V72.0625H36.125C37.375 72.0625 38.5417 71.8333 39.625 71.375C40.7083 70.9167 41.6458 70.2917 42.4375 69.5C43.2708 68.6667 43.9167 67.7083 44.375 66.625C44.8333 65.5417 45.0625 64.375 45.0625 63.125C45.0625 61.875 44.8333 60.7083 44.375 59.625C43.9167 58.5417 43.2708 57.6042 42.4375 56.8125C41.6458 55.9792 40.7083 55.3333 39.625 54.875C38.5417 54.4167 37.375 54.1875 36.125 54.1875H11.6875V36.25H36.125C37.375 36.25 38.5417 36.0208 39.625 35.5625C40.7083 35.1042 41.6458 34.4792 42.4375 33.6875C43.2708 32.8542 43.9167 31.8958 44.375 30.8125C44.8333 29.6875 45.0625 28.5 45.0625 27.25C45.0625 26 44.8333 24.8333 44.375 23.75C43.9167 22.6667 43.2708 21.7292 42.4375 20.9375C41.6458 20.1042 40.7083 19.4583 39.625 19C38.5417 18.5417 37.375 18.3125 36.125 18.3125H0.25V0.375H36.125C39.8333 0.375 43.3125 1.08333 46.5625 2.5C49.8125 3.91667 52.6458 5.85417 55.0625 8.3125C57.5208 10.7292 59.4583 13.5625 60.875 16.8125C62.2917 20.0625 63 23.5417 63 27.25C63 30.5417 62.3958 33.75 61.1875 36.875C59.9792 39.9583 58.2708 42.7292 56.0625 45.1875C58.2708 47.6458 59.9792 50.4375 61.1875 53.5625C62.3958 56.6458 63 59.8333 63 63.125Z"
                  fill="#00C92C" />
                <path id="two" style="visibility: hidden"
                  d="M63.25 27.25C63.25 30.9583 62.5417 34.4583 61.125 37.75C59.7083 41 57.7708 43.8542 55.3125 46.3125C52.8958 48.7292 50.0625 50.6458 46.8125 52.0625C43.5625 53.4792 40.0833 54.1875 36.375 54.1875H27.375C26.125 54.1875 24.9583 54.4167 23.875 54.875C22.7917 55.3333 21.8333 55.9792 21 56.8125C20.2083 57.6042 19.5833 58.5417 19.125 59.625C18.6667 60.7083 18.4375 61.875 18.4375 63.125V72.0625H60.8125V90H0.5V63.125C0.5 59.4167 1.20833 55.9375 2.625 52.6875C4.04167 49.3958 5.95833 46.5417 8.375 44.125C10.8333 41.6667 13.6875 39.75 16.9375 38.375C20.1875 36.9583 23.6667 36.25 27.375 36.25H36.375C37.625 36.25 38.7917 36.0208 39.875 35.5625C40.9583 35.1042 41.8958 34.4792 42.6875 33.6875C43.5208 32.8542 44.1667 31.8958 44.625 30.8125C45.0833 29.6875 45.3125 28.5 45.3125 27.25C45.3125 26 45.0833 24.8333 44.625 23.75C44.1667 22.6667 43.5208 21.7292 42.6875 20.9375C41.8958 20.1042 40.9583 19.4583 39.875 19C38.7917 18.5417 37.625 18.3125 36.375 18.3125H4.375V0.375H36.375C40.0833 0.375 43.5625 1.08333 46.8125 2.5C50.0625 3.91667 52.8958 5.85417 55.3125 8.3125C57.7708 10.7292 59.7083 13.5625 61.125 16.8125C62.5417 20.0625 63.25 23.5417 63.25 27.25Z"
                  fill="#00C92C" />
                <path id="one" style="visibility: hidden" d="M27.75 90H9.8125V18.3125H0.875V0.375H27.75V90Z"
                  fill="#00C92C" />
                <path id="zero" style="visibility: hidden"
                  d="M54.875 46.1875C54.875 36.2292 53.2083 28.8333 49.875 24C46.5833 19.1667 41.9792 16.75 36.0625 16.75C30.1875 16.75 25.625 19.1458 22.375 23.9375C19.125 28.7292 17.5 36.1458 17.5 46.1875C17.5 56.1458 19.125 63.5417 22.375 68.375C25.625 73.2083 30.1875 75.625 36.0625 75.625C39.0208 75.625 41.6667 75.0417 44 73.875C46.3333 72.6667 48.2917 70.8542 49.875 68.4375C51.5 66.0208 52.7292 62.9792 53.5625 59.3125C54.4375 55.6042 54.875 51.2292 54.875 46.1875ZM71.9375 46.1875C71.9375 54.6875 71 61.875 69.125 67.75C67.25 73.625 64.6875 78.375 61.4375 82C58.1875 85.625 54.375 88.25 50 89.875C45.6667 91.4583 41.0208 92.25 36.0625 92.25C31.1042 92.25 26.4375 91.4375 22.0625 89.8125C17.7292 88.1458 13.9375 85.5 10.6875 81.875C7.47917 78.2083 4.9375 73.4583 3.0625 67.625C1.1875 61.75 0.25 54.6042 0.25 46.1875C0.25 37.6875 1.1875 30.5208 3.0625 24.6875C4.9375 18.8125 7.47917 14.0625 10.6875 10.4375C13.9375 6.8125 17.7292 4.1875 22.0625 2.5625C26.4375 0.9375 31.1042 0.125 36.0625 0.125C41.0208 0.125 45.6667 0.958333 50 2.625C54.375 4.25 58.1875 6.89583 61.4375 10.5625C64.6875 14.2292 67.25 18.9792 69.125 24.8125C71 30.6458 71.9375 37.7708 71.9375 46.1875Z"
                  fill="#00C92C" />
              </svg>
            </div>
            <div forma="star" arrastos="5">
              <svg height="80" viewBox="0 0 141 133" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path id="star"
                  d="M70.5 0L87.0018 50.7873H140.403L97.2004 82.1755L113.702 132.963L70.5 101.575L27.2978 132.963L43.7996 82.1755L0.597343 50.7873H53.9982L70.5 0Z"
                  fill="#EC9513" />
                <path id="five" style="visibility: hidden"
                  d="M64.5 61.8125C64.5 66.1875 63.7292 70.125 62.1875 73.625C60.6458 77.125 58.5833 80.0833 56 82.5C53.4167 84.9167 50.4167 86.7708 47 88.0625C43.625 89.3542 40.0833 90 36.375 90H0.25V72.0625H36.375C37.5833 72.0625 38.7917 71.875 40 71.5C41.25 71.125 42.3542 70.5208 43.3125 69.6875C44.3125 68.8542 45.1042 67.7917 45.6875 66.5C46.3125 65.2083 46.625 63.6458 46.625 61.8125C46.625 60.1458 46.3125 58.6875 45.6875 57.4375C45.1042 56.1458 44.3125 55.0833 43.3125 54.25C42.3542 53.375 41.25 52.7292 40 52.3125C38.7917 51.8542 37.5833 51.625 36.375 51.625H0.25L5.5 0.375H60.8125V18.3125H21.625L20 33.6875H36.375C40.0833 33.6875 43.625 34.3333 47 35.625C50.4167 36.9167 53.4167 38.7917 56 41.25C58.5833 43.6667 60.6458 46.625 62.1875 50.125C63.7292 53.5833 64.5 57.4792 64.5 61.8125Z"
                  fill="#EC9513" />
                <path id="four" style="visibility: hidden"
                  d="M72.375 72.0625H63.4375V90H45.5V72.0625H0.6875L10.6875 0.375H28.625L20.8125 54.1875H45.5V9.375H63.4375V54.1875H72.375V72.0625Z"
                  fill="#EC9513" />
                <path id="three" style="visibility: hidden"
                  d="M63 63.125C63 66.8333 62.2917 70.3125 60.875 73.5625C59.4583 76.8125 57.5208 79.6667 55.0625 82.125C52.6458 84.5417 49.8125 86.4583 46.5625 87.875C43.3125 89.2917 39.8333 90 36.125 90H0.25V72.0625H36.125C37.375 72.0625 38.5417 71.8333 39.625 71.375C40.7083 70.9167 41.6458 70.2917 42.4375 69.5C43.2708 68.6667 43.9167 67.7083 44.375 66.625C44.8333 65.5417 45.0625 64.375 45.0625 63.125C45.0625 61.875 44.8333 60.7083 44.375 59.625C43.9167 58.5417 43.2708 57.6042 42.4375 56.8125C41.6458 55.9792 40.7083 55.3333 39.625 54.875C38.5417 54.4167 37.375 54.1875 36.125 54.1875H11.6875V36.25H36.125C37.375 36.25 38.5417 36.0208 39.625 35.5625C40.7083 35.1042 41.6458 34.4792 42.4375 33.6875C43.2708 32.8542 43.9167 31.8958 44.375 30.8125C44.8333 29.6875 45.0625 28.5 45.0625 27.25C45.0625 26 44.8333 24.8333 44.375 23.75C43.9167 22.6667 43.2708 21.7292 42.4375 20.9375C41.6458 20.1042 40.7083 19.4583 39.625 19C38.5417 18.5417 37.375 18.3125 36.125 18.3125H0.25V0.375H36.125C39.8333 0.375 43.3125 1.08333 46.5625 2.5C49.8125 3.91667 52.6458 5.85417 55.0625 8.3125C57.5208 10.7292 59.4583 13.5625 60.875 16.8125C62.2917 20.0625 63 23.5417 63 27.25C63 30.5417 62.3958 33.75 61.1875 36.875C59.9792 39.9583 58.2708 42.7292 56.0625 45.1875C58.2708 47.6458 59.9792 50.4375 61.1875 53.5625C62.3958 56.6458 63 59.8333 63 63.125Z"
                  fill="#EC9513" />
                <path id="two" style="visibility: hidden"
                  d="M63.25 27.25C63.25 30.9583 62.5417 34.4583 61.125 37.75C59.7083 41 57.7708 43.8542 55.3125 46.3125C52.8958 48.7292 50.0625 50.6458 46.8125 52.0625C43.5625 53.4792 40.0833 54.1875 36.375 54.1875H27.375C26.125 54.1875 24.9583 54.4167 23.875 54.875C22.7917 55.3333 21.8333 55.9792 21 56.8125C20.2083 57.6042 19.5833 58.5417 19.125 59.625C18.6667 60.7083 18.4375 61.875 18.4375 63.125V72.0625H60.8125V90H0.5V63.125C0.5 59.4167 1.20833 55.9375 2.625 52.6875C4.04167 49.3958 5.95833 46.5417 8.375 44.125C10.8333 41.6667 13.6875 39.75 16.9375 38.375C20.1875 36.9583 23.6667 36.25 27.375 36.25H36.375C37.625 36.25 38.7917 36.0208 39.875 35.5625C40.9583 35.1042 41.8958 34.4792 42.6875 33.6875C43.5208 32.8542 44.1667 31.8958 44.625 30.8125C45.0833 29.6875 45.3125 28.5 45.3125 27.25C45.3125 26 45.0833 24.8333 44.625 23.75C44.1667 22.6667 43.5208 21.7292 42.6875 20.9375C41.8958 20.1042 40.9583 19.4583 39.875 19C38.7917 18.5417 37.625 18.3125 36.375 18.3125H4.375V0.375H36.375C40.0833 0.375 43.5625 1.08333 46.8125 2.5C50.0625 3.91667 52.8958 5.85417 55.3125 8.3125C57.7708 10.7292 59.7083 13.5625 61.125 16.8125C62.5417 20.0625 63.25 23.5417 63.25 27.25Z"
                  fill="#EC9513" />
                <path id="one" style="visibility: hidden" d="M27.75 90H9.8125V18.3125H0.875V0.375H27.75V90Z"
                  fill="#EC9513" />
                <path id="zero" style="visibility: hidden"
                  d="M54.875 46.1875C54.875 36.2292 53.2083 28.8333 49.875 24C46.5833 19.1667 41.9792 16.75 36.0625 16.75C30.1875 16.75 25.625 19.1458 22.375 23.9375C19.125 28.7292 17.5 36.1458 17.5 46.1875C17.5 56.1458 19.125 63.5417 22.375 68.375C25.625 73.2083 30.1875 75.625 36.0625 75.625C39.0208 75.625 41.6667 75.0417 44 73.875C46.3333 72.6667 48.2917 70.8542 49.875 68.4375C51.5 66.0208 52.7292 62.9792 53.5625 59.3125C54.4375 55.6042 54.875 51.2292 54.875 46.1875ZM71.9375 46.1875C71.9375 54.6875 71 61.875 69.125 67.75C67.25 73.625 64.6875 78.375 61.4375 82C58.1875 85.625 54.375 88.25 50 89.875C45.6667 91.4583 41.0208 92.25 36.0625 92.25C31.1042 92.25 26.4375 91.4375 22.0625 89.8125C17.7292 88.1458 13.9375 85.5 10.6875 81.875C7.47917 78.2083 4.9375 73.4583 3.0625 67.625C1.1875 61.75 0.25 54.6042 0.25 46.1875C0.25 37.6875 1.1875 30.5208 3.0625 24.6875C4.9375 18.8125 7.47917 14.0625 10.6875 10.4375C13.9375 6.8125 17.7292 4.1875 22.0625 2.5625C26.4375 0.9375 31.1042 0.125 36.0625 0.125C41.0208 0.125 45.6667 0.958333 50 2.625C54.375 4.25 58.1875 6.89583 61.4375 10.5625C64.6875 14.2292 67.25 18.9792 69.125 24.8125C71 30.6458 71.9375 37.7708 71.9375 46.1875Z"
                  fill="#EC9513" />
              </svg>
            </div>
            <div forma="pentagon" arrastos="5">
              <svg height="80" viewBox="0 0 120 114" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path id="pentagon" d="M60 0L119.917 43.5319L97.0305 113.968H22.9695L0.0834389 43.5319L60 0Z"
                  fill="#1F93FF" />
                <path id="five" style="visibility: hidden"
                  d="M64.5 61.8125C64.5 66.1875 63.7292 70.125 62.1875 73.625C60.6458 77.125 58.5833 80.0833 56 82.5C53.4167 84.9167 50.4167 86.7708 47 88.0625C43.625 89.3542 40.0833 90 36.375 90H0.25V72.0625H36.375C37.5833 72.0625 38.7917 71.875 40 71.5C41.25 71.125 42.3542 70.5208 43.3125 69.6875C44.3125 68.8542 45.1042 67.7917 45.6875 66.5C46.3125 65.2083 46.625 63.6458 46.625 61.8125C46.625 60.1458 46.3125 58.6875 45.6875 57.4375C45.1042 56.1458 44.3125 55.0833 43.3125 54.25C42.3542 53.375 41.25 52.7292 40 52.3125C38.7917 51.8542 37.5833 51.625 36.375 51.625H0.25L5.5 0.375H60.8125V18.3125H21.625L20 33.6875H36.375C40.0833 33.6875 43.625 34.3333 47 35.625C50.4167 36.9167 53.4167 38.7917 56 41.25C58.5833 43.6667 60.6458 46.625 62.1875 50.125C63.7292 53.5833 64.5 57.4792 64.5 61.8125Z"
                  fill="#1F93FF" />
                <path id="four" style="visibility: hidden"
                  d="M72.375 72.0625H63.4375V90H45.5V72.0625H0.6875L10.6875 0.375H28.625L20.8125 54.1875H45.5V9.375H63.4375V54.1875H72.375V72.0625Z"
                  fill="#1F93FF" />
                <path id="three" style="visibility: hidden"
                  d="M63 63.125C63 66.8333 62.2917 70.3125 60.875 73.5625C59.4583 76.8125 57.5208 79.6667 55.0625 82.125C52.6458 84.5417 49.8125 86.4583 46.5625 87.875C43.3125 89.2917 39.8333 90 36.125 90H0.25V72.0625H36.125C37.375 72.0625 38.5417 71.8333 39.625 71.375C40.7083 70.9167 41.6458 70.2917 42.4375 69.5C43.2708 68.6667 43.9167 67.7083 44.375 66.625C44.8333 65.5417 45.0625 64.375 45.0625 63.125C45.0625 61.875 44.8333 60.7083 44.375 59.625C43.9167 58.5417 43.2708 57.6042 42.4375 56.8125C41.6458 55.9792 40.7083 55.3333 39.625 54.875C38.5417 54.4167 37.375 54.1875 36.125 54.1875H11.6875V36.25H36.125C37.375 36.25 38.5417 36.0208 39.625 35.5625C40.7083 35.1042 41.6458 34.4792 42.4375 33.6875C43.2708 32.8542 43.9167 31.8958 44.375 30.8125C44.8333 29.6875 45.0625 28.5 45.0625 27.25C45.0625 26 44.8333 24.8333 44.375 23.75C43.9167 22.6667 43.2708 21.7292 42.4375 20.9375C41.6458 20.1042 40.7083 19.4583 39.625 19C38.5417 18.5417 37.375 18.3125 36.125 18.3125H0.25V0.375H36.125C39.8333 0.375 43.3125 1.08333 46.5625 2.5C49.8125 3.91667 52.6458 5.85417 55.0625 8.3125C57.5208 10.7292 59.4583 13.5625 60.875 16.8125C62.2917 20.0625 63 23.5417 63 27.25C63 30.5417 62.3958 33.75 61.1875 36.875C59.9792 39.9583 58.2708 42.7292 56.0625 45.1875C58.2708 47.6458 59.9792 50.4375 61.1875 53.5625C62.3958 56.6458 63 59.8333 63 63.125Z"
                  fill="#1F93FF" />
                <path id="two" style="visibility: hidden"
                  d="M63.25 27.25C63.25 30.9583 62.5417 34.4583 61.125 37.75C59.7083 41 57.7708 43.8542 55.3125 46.3125C52.8958 48.7292 50.0625 50.6458 46.8125 52.0625C43.5625 53.4792 40.0833 54.1875 36.375 54.1875H27.375C26.125 54.1875 24.9583 54.4167 23.875 54.875C22.7917 55.3333 21.8333 55.9792 21 56.8125C20.2083 57.6042 19.5833 58.5417 19.125 59.625C18.6667 60.7083 18.4375 61.875 18.4375 63.125V72.0625H60.8125V90H0.5V63.125C0.5 59.4167 1.20833 55.9375 2.625 52.6875C4.04167 49.3958 5.95833 46.5417 8.375 44.125C10.8333 41.6667 13.6875 39.75 16.9375 38.375C20.1875 36.9583 23.6667 36.25 27.375 36.25H36.375C37.625 36.25 38.7917 36.0208 39.875 35.5625C40.9583 35.1042 41.8958 34.4792 42.6875 33.6875C43.5208 32.8542 44.1667 31.8958 44.625 30.8125C45.0833 29.6875 45.3125 28.5 45.3125 27.25C45.3125 26 45.0833 24.8333 44.625 23.75C44.1667 22.6667 43.5208 21.7292 42.6875 20.9375C41.8958 20.1042 40.9583 19.4583 39.875 19C38.7917 18.5417 37.625 18.3125 36.375 18.3125H4.375V0.375H36.375C40.0833 0.375 43.5625 1.08333 46.8125 2.5C50.0625 3.91667 52.8958 5.85417 55.3125 8.3125C57.7708 10.7292 59.7083 13.5625 61.125 16.8125C62.5417 20.0625 63.25 23.5417 63.25 27.25Z"
                  fill="#1F93FF" />
                <path id="one" style="visibility: hidden" d="M27.75 90H9.8125V18.3125H0.875V0.375H27.75V90Z"
                  fill="#1F93FF" />
                <path id="zero" style="visibility: hidden"
                  d="M54.875 46.1875C54.875 36.2292 53.2083 28.8333 49.875 24C46.5833 19.1667 41.9792 16.75 36.0625 16.75C30.1875 16.75 25.625 19.1458 22.375 23.9375C19.125 28.7292 17.5 36.1458 17.5 46.1875C17.5 56.1458 19.125 63.5417 22.375 68.375C25.625 73.2083 30.1875 75.625 36.0625 75.625C39.0208 75.625 41.6667 75.0417 44 73.875C46.3333 72.6667 48.2917 70.8542 49.875 68.4375C51.5 66.0208 52.7292 62.9792 53.5625 59.3125C54.4375 55.6042 54.875 51.2292 54.875 46.1875ZM71.9375 46.1875C71.9375 54.6875 71 61.875 69.125 67.75C67.25 73.625 64.6875 78.375 61.4375 82C58.1875 85.625 54.375 88.25 50 89.875C45.6667 91.4583 41.0208 92.25 36.0625 92.25C31.1042 92.25 26.4375 91.4375 22.0625 89.8125C17.7292 88.1458 13.9375 85.5 10.6875 81.875C7.47917 78.2083 4.9375 73.4583 3.0625 67.625C1.1875 61.75 0.25 54.6042 0.25 46.1875C0.25 37.6875 1.1875 30.5208 3.0625 24.6875C4.9375 18.8125 7.47917 14.0625 10.6875 10.4375C13.9375 6.8125 17.7292 4.1875 22.0625 2.5625C26.4375 0.9375 31.1042 0.125 36.0625 0.125C41.0208 0.125 45.6667 0.958333 50 2.625C54.375 4.25 58.1875 6.89583 61.4375 10.5625C64.6875 14.2292 67.25 18.9792 69.125 24.8125C71 30.6458 71.9375 37.7708 71.9375 46.1875Z"
                  fill="#1F93FF" />
              </svg>
            </div>
          </div>
        </div>
      </div>

      <!-- AQUI ESTA O CARD DE PESOS -->

      <div class="card mb-5" style="border: 0cap">
        <div class="card-body card_connected_comp">
          <div class="card-body p-0">
            <div style="display: flex; flex-direction: row">
              <h4 class="card-title title mx-auto justify-content-center">
                Insira o peso de cada forma:
              </h4>
            </div>

            <form action="post" name="form-res" id="form-res" class="form">
              <div class="input-group" style="margin-right: 20px">
                <span class="input-group-text" id="inputGroup-sizing-default">
                  <img src="../assets/formas/triangulo.png" class="mini-icon tri" />
                </span>
                <input value="<%=defaultWeigth%>" readonly type="number" class="form-control"
                  aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" name="w1" />
              </div>
              <div class="input-group" style="margin-right: 20px">
                <span class="input-group-text" id="inputGroup-sizing-default"><img src="../assets/formas/quadrado.png"
                    class="mini-icon" /></span>
                <input type="number" class="form-control" aria-label="Sizing example input"
                  aria-describedby="inputGroup-sizing-default" name="w2" />
              </div>
              <div class="input-group" style="margin-right: 20px">
                <span class="input-group-text" id="inputGroup-sizing-default"><img src="../assets/formas/ellipse.png"
                    class="mini-icon" /></span>
                <input type="number" class="form-control" aria-label="Sizing example input"
                  aria-describedby="inputGroup-sizing-default" name="w3" />
              </div>
              <div class="input-group" style="margin-right: 20px">
                <span class="input-group-text" id="inputGroup-sizing-default"><img src="../assets/formas/star.png"
                    class="mini-icon" /></span>
                <input type="number" class="form-control" aria-label="Sizing example input"
                  aria-describedby="inputGroup-sizing-default" name="w4" />
              </div>
              <div class="input-group">
                <span class="input-group-text" id="inputGroup-sizing-default"><img src="../assets/formas/pentagono.png"
                    class="mini-icon" /></span>
                <input type="number" class="form-control" aria-label="Sizing example input"
                  aria-describedby="inputGroup-sizing-default" name="w5" />
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- modal validação -->
  <div id="JanelaModal" class="modal fade">
    <div class="modal-dialog border-rounded">
      <div class="modal-content strongbg">
        <div class="modal-header border-0">
          <button type="button" class="btn btn-close" data-bs-dismiss="modal"></button>
        </div>
        <div class="modal-body rounded">
          <h3 class="text-center mx-auto">Confirme a entrega da atividade</h3>

          <div class="hide alerta" id="error">
            <span>Incorreto</span>
            <button id="alertabutton">&times;</button>
          </div>

          <form action="/" method="post" id="login">
            <div class="col-6 mt-5 mx-auto">
              <label for="senha" class="form-label text-center">
                <h5>Digite "FINALIZAR":</h5>
              </label>
              <div class="validation_position">
                <input style="width: 100%;" class="form-control mx-auto" type="text" id="validation" name="validation" />
              </div>
            </div>
            <div class="col-6 my-5 mx-auto">
              <input style="width: 100%;" type="button" class="btn btn-danger mx-auto btn-lg" onclick="finish()" value="Encerrar avaliação"
                id="finalizar" />
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script type="module" src="../js/canvas.js"></script>
<script src="../js/morphshapes.js"></script>
<script>
  $(document).ready(function () {
    const reqWeights = (quantities) => {
      $.ajax({
        url: `http://${url}:3000/scales/${code}`,
        type: "POST",
        contentType: "application/json",
        data: JSON.stringify({ quantities: quantities }),
        success: function (response) {
          tilt(response.results);
        },
        error: function (xhr, status, error) {
          console.log("Error:", error);
        },
      });
    };

    function makeDraggableAgain(element) {
      setTimeout(function () {
        element.draggable("option", "disabled", false);
        element.removeClass("waiting");
      }, 1900);
    }

    $(".list-items div").draggable({
      helper: "clone",
      containment: "body",
      scroll: false,
      revert: true,
    });

    $("#canvas").droppable({
      drop: function (event, ui) {
        var formaArrastada = ui.draggable.attr("forma");
        var addedTo = addFig(event, formaArrastada);

        if (addedTo) {
          var arrastos = parseInt(ui.draggable.attr("arrastos"));
          arrastos--;
          ui.draggable.attr("arrastos", arrastos);
          animate(arrastos, formaArrastada);

          if (arrastos === 0) {
            ui.draggable.animate({
              width: 0,
              height: 0,
              opacity: 0,
            }, 500, function () {
              ui.draggable.remove();
            });
          }

          ui.draggable.draggable("option", "disabled", true);
          ui.draggable.addClass("waiting");

          makeDraggableAgain(ui.draggable);
        }
      },
    });
    $("#pesar").on('click', () => {reqWeights(getPlatesBal())})
  });
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<script src="../js/Game.js"></script>
<script src="../js/jquery.js"></script>

</html>